.breadcrumbs{
    grid-area: span 1 / span 12;
    line-height: 1em;
    padding: 1rem 0;
}

.breadcrumbs__categories{
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--gray-light-color);
}

.breadcrumbs__categories:not(:last-child)::after{
    content: ' 〉 ';
    margin-left: 8px;   
}

.breadcrumbs__categories:hover{
    color: var(--second-color);
    opacity: 1;
}