/*Buttons*/
.product__detail--button{
    background-color: var(--second-color);
    border: 1px solid var(--second-color);
    border-radius: 4px;
    color: var(--white);
    font-size: 1.125rem;
    height: 50px;
    width: 100%;
    cursor: pointer;
    margin-top: 2rem;
    
}