/******* Custom property ******/

:root{
    --first-color: #ffe600;
    --second-color: #3483fa;
    --gray-dark-color:#333333;
    --gray-color: #666666;
    --gray-light-color: #999999;
    --gray-white-color: #eeeeee;
    --white: #ffffff;
    --font: "Montserrat", sans-serif;
}


/******* Reset ******/

html{
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
    overflow-x: hidden;
    color: var(--gray-dark-color);
    background-color: var(--gray-white-color);
}

img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
}

a{
    text-decoration: none;
}

/******* Utilities ******/

/*Results*/

.results{
    background-color: var(--white);
    border-radius: 4px;
    grid-area: span 1 / span 12;
    overflow: hidden;
}

/*Grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    width: 80%;
    max-width: 1220px;
    height: 100%;
    margin: auto;
    gap: 10px;
    overflow: hidden;
}

/*Loader*/
.loader{
    margin: 0.5rem auto;
    display: block;
    width: 4rem;
    height: 4rem;
}