.breadcrumbs{
    grid-area: span 1 / span 12;
    color: var(--gray-light-color);
    font-size: 0.875rem;
    line-height: 1em;
    padding: 1rem 0;
}

.breadcrumbs__categories:not(:last-child)::after{
    content: ' 〉 ';
    font-size: 0.8em;
    margin-left: 8px;
    font-weight: 400;
}