.productCard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 1px solid var(--gray-white-color);
    padding: 1rem;
}

.productCard__description{
    display: flex;
    flex-direction: column;
}

.productCard__image{
    width: auto;
    height: 180px;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}


.productCard__detail span{
    margin: 0;
    font-size: 1.5rem;
    padding: 2rem 0;
    font-weight: 400;
    color: var(--gray-dark-color);
}

.productCard__detail h3{
    margin: 0;
    font-size: 1.125rem;
    font-weight: 300;
}

.productCard__price{
    display: flex;
    align-items: center;
}

.productCard__price img{
    margin-left: 15px;
}

.productCard__address {
    width: 20%;
    padding-top: 2rem;
}



.productCard__address span{
    font-size: 0.75rem;
}

@media screen and (min-width:768px){
    .productCard{
        flex-direction: row;
    }
    .productCard__image{
        width: 180px;
    }
    .productCard__description{
        flex-direction: row;
    }
}

@media screen and (min-width:1024px){
    .productCard__dcProduct{
        max-width: 80%;
    }
}